
body {
  font-family: 'Arial', sans-serif;
  margin: 0; padding: 0;
  background-image: url("../images/wavy.png");
}

h2 {
color: aliceblue;
margin-left: 520px;
}

header{
  background-color: #6e0c5f; color: rgb(255, 255, 255);
  padding: 5px; text-align: center;
}
main{
  max-width: 1100px; margin: 20px auto;
  max-height: 600px;
  padding: 20px; display: flex; flex-wrap: wrap;
  background-color: rgba(64, 64, 67, 0.185);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px;
}
#picture-box{
  height: auto; width: auto;
  position: relative; 
  border: 2px solid #26363b; margin: 10px;
  border-radius: 10px;
}
#canvas{
  width: auto; height: auto;
}

.selector {
color: #6e0c5f;
margin: 5px;
text-align: center;
width: 10%;
height: auto;
border: 1px solid #26363b;
border-radius: 10px;
background-color:#5cb85c;
border-color:#4cae4c
}

#tool-box{
  height: auto; width: auto; flex: 0 0 200px;
  padding: 10px; margin: 1px;
  background-color: #f9f9f9; border: 3px solid #4400ff; border-radius: 5px;
}
.button {
border: none; margin-bottom: 10px;
color: rgb(106, 106, 106); padding: 16px 32px; text-align: center;
display: inline-block; font-size: 16px; margin: 4px 2px; transition-duration: 0.4s;
cursor: pointer;
}
.button1{
margin-bottom: 20px; border-radius: 5px;
padding: 10px; width: 100%; text-align: center;
background-color: white; color: black; border: 3px solid #454847;
}
.button1:hover {
background-color: #3be860; color: rgb(76, 0, 119);
}
.button2{
margin-bottom: 20px; border-radius: 5px; padding: 10px;
width: 50%; text-align: center; background-color: white; 
color: black;  border: 3px solid #454847;
}
.button2:hover {
position: left; background-color: #3be860; color: rgb(76, 0, 119);
}

#imgInp{
  display: none;
}
#filters{
width: 100%;
}