body, html {
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background-color: #2E1760;
    color:#f3efef;
}
.caed {
    background-color: rgb(35, 64, 71);   
}
h1 {
    color:black;
    margin-bottom:10px;
}
#main {
    position:relative;
    width:940px;
    padding:20px;
    margin:auto;
}

#left {
    position:relative;
    float:left;
    width:260px;
    padding:10px;
    margin-right:10px;
    border-right:3px solid #7A91A1;
    background-color:#E8E0FF;
}
.half {
    position:relative;
    display:inline-block;
    width:49%;
}
#original {
    vertical-align:top;
}
#messageArea {
    width:100%;
}
#img {
    /* height:85%; */
}
.btns {
    margin-top:15px;
    margin-bottom:10px;
    padding: 0 40px;
}

textarea {
    background-color: #402c66;
    color: #E8E0FF;
}

#description {
    line-height:25px;
    padding-bottom:5px;
    border-bottom:1px solid lightgrey;
}
#capacity {
    font-weight:normal;
    font-size:15px;
}
.note {
    font-size:9px;
    text-align:center;
    color:black;
}
.invisible {
    visibility:hidden;
}
.clear {
    clear:both;
}
.footer {
    margin-top:25px;
    width:100%;
    text-align:right;
}
textarea{
    padding:10px;
    height:200px;
    width:100%;
}
h2{
    margin-top:0;
}